*.pyc
*.iml
*.swp
.project
.pydevproject
.DS_Store
.idea
Thumbs.db

.vscode/*
!.vscode/extensions.json
!.vscode/settings.json

**/build
**/install
**/log
compile_commands.json

rosbag2_*/
*.db3
*.mcap

__pycache__/
*.py[cod]
*$py.class
*.egg-info/
.eggs/
